<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCgMpyNI6I1YzK4D8tmrY6J_eqjkqt4hGk</string>
	<key>GCM_SENDER_ID</key>
	<string>870841633865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tolkynbayeva.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-4df72</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-4df72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870841633865:ios:1563f15a33a108c2b48398</string>
</dict>
</plist>